.header {
	padding-block: toRem(15);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: var(--color-header-bg);
	transition:
		background-color var(--transition-base),
		color var(--transition-base);
		will-change: background-color, color;
}

.container {
	max-width: toRem(1200);
	margin-inline: auto;
	padding-inline: toRem(15);
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: toRem(25);
	align-items: center;
	justify-content: space-between;

	@media (max-width: $mobile) {
		grid-template-columns: 1fr auto;
		column-gap: toRem(10);
	}
}

.logo {
	width: 100%;
	max-width: toRem(147);
	aspect-ratio: 147 / 30;
	position: relative;
	z-index: 5;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	gap: toRem(5);
	z-index: 5
}
